// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  h2 {
    text-align: center;
    font-family:"Comic Sans MS", sans-serif;
  }
}

.cartoon_body {

}

#cartoon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page_body {
  padding:10px;
  border:7px solid gray;
  border-style:groove;
}

.description {
  text-align: center;
  p {
    font-family:"Comic Sans MS", sans-serif;
  }
}
